<h1>Welcome!</h1>
<form method="POST" action="/login">
Username: <input type="text" name="user[username]">
Password: <input type="password" name="user[password]">
 <input type="submit" value="Log In">
</form>