<html>
<head>
<h1>Welcome to you porfolio, <%= @user.username %>!</h1>
  </head>
  <body>
<h3><a href="/tattoos">Review my porfolio</a></h3>
<h3><a href="/tattoos/new">Add new artwork</a></h3>
<h3><a href="/logout">Log out</a></h3>
  </body>

