

<h1>Welcome <%= @user.username%>  </h1>
 
  <body>
<h3><a href="/tattoos/">Quick view</a></h3>
<h3><a href="/tattoos/show">View portfolio</a></h3>
<%# <h3><a href="/tattoos/new">Add new artwork</a></h3> %>
  </body>

