

<h1> Your work </h1>
<a href="/tattoos/show">View portfolio</a><br>
<a href="/tattoos/new">Add new</a><br>
<%# <a href="/tattoos/edit">Edit</a><br> %>

<ul>
<%# <input type="image"  alt="Submit" width="48" height="48"> %>
<%# <% @tattoos.each do |tattoo| %> 
<p>
<%# <%if current_user == tattoo.id %> 
<li><%=@tattoos.name %>
<%# <a href="/tattoos<%=tattoo.name %>
on <%= @tattoos.client%>
</li>
<p>
<%# <% end %> 
</ul>

