<h1>New work </h1>

<form action="/tattoos/show" method="POST">
    <b>Tattoo: <input type="text" name="name"><br>
    <b>Client: <input type="text" name="client"><br>
    <b>Placement: <input type="text" name="placement"><br>
    <b>Description: <input type="text" name="description"><br>
    <input type="submit" value="Add tattoo">
</form>
