<h1>something to add? </h1>

<form action="/tattoos" method="POST">
    <b>Name: <input type="text" name="tattoo[name]"><br>
    <b>Client: <input type="text" name="tattoo[client]"><br>
    <b>Placement: <input type="text" name="tattoo[placement]"><br>
    <b>Description: <input type="text" name="tattoo[description]"><br>
    <input type="submit" value="Add tattoo">
</form>
