
<html>
<head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
</style>
<a href="/tattoos">quick view</a>
</head>
<body>

 <% @tattoos.each do |tattoo|  %>
 <p>
<h2><%= tattoo.name %> </h2>
<b> Client: <%= tattoo.client %></b><br><br>
<b> Placement:</b> <%= tattoo.placement %> <br><br>
<b> Description:</b> <%= tattoo.description %> <br><br>
 </p>

<% end %>

</body>

