
<% if logged_in? %> 
<h1> Thanks for using Tattpro <%=@user.username%>!</h1>
<p> We hope youre enjoying keeping track of your growing skills!</p>
<%else%>
<h1>Start using TattPro!</h1>
<h2><a href="/new">Sign up</a></h2>
<%end%>
<p>Tattpro,
A place for you, an artist, to keep track of and display your favorite pieces!</p>